input.ng-touched.ng-invalid {
    border-color: #dc3425;
}

input.ng-valid {
    border-color: #28a745;
}

div.input-group-text.bg-white {
    width: 43px;
}

.red-icon {
    color: #dc3425;
}

.green-icon {
    color: #28a745;
}